body{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin: 0px;
    background-color: #e0f5fe;
    
}


#mainContent{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-width: 740px;
    max-width: 1000px;
    background-color: white;
}

p{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

a{
    color:rgb(236, 109, 11);
    font-weight: 500;
}

h1,h2{
    color: #3399CC;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20 px;
}

h1{
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;   
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li{
    float: left;
    width: 20%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

nav ul li a{
    text-decoration-line: none;
    background-color: #4d4d4d;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display:block;
    color: white;
}

nav a:hover{
    background-color: #3399CC;
}

.banner {
    position: relative;
   
}

img {

    position: relative;
    width: 100%;
    height: auto;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(236, 109, 11);
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.text-block h2 {
    color: white;
    text-transform: uppercase;
    
}


.flex-container {
    display: flex;
    flex-direction: row;
  }

.flex-container figcaption {
    padding-top: 20px;
    
}


  #col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #col1 figure {
    text-align: center;
  }
  
  #col1 img {
    max-width: 80%; 
    height: auto;
  }


#col2 {
    flex: 1;
  }
  
  #col2 h2,
  #col2 p {
    text-align: left;
  }
  
  .btn1 {
    display: block;
    margin: 20px auto; 
    padding: 15px 30px; 
    font-size: 16px; 
    color: #fff; 
    background-color: #4CAF50; 
    border: none; 
    border-radius: 5px; 
  }
  
  .btn1:hover {
    background-color: #4ca2df; 
    cursor: pointer;
  }

  .btn2:hover {
    background-color: #4CAF50;
    cursor: pointer; 
  }



figure {
    padding: 10 px;
}


figcaption {
    text-align: center;
    padding: 0px 0px 7px 0px;
    font-weight: 500;
}


.flex-container figcaption {
  padding-top: 20px;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cars {
  text-align: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
  
}

figcaption {
  margin: 10px 0;
}


footer {
    background-color: #3399CC;
    padding: 13px;
    font-weight: 500;
    color: #e0f5fe;
}

table {
    padding-bottom: 40px;
    width: 70%;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

thead {
    background-color: #f2f2f2; 
  }

  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    font-weight: bold;
    border-bottom: 2px solid #ddd;
  }
  
  td {
    border-bottom: 1px solid #ddd;
  }

  form {
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 40px;
    
  }
 
  input[type="submit"]:hover {
    background-color: #4CAF50;
  }

  .gallery-container {
    overflow-x: auto;
    white-space: nowrap;
  }

  .gallery-item {
    display: inline-block;
    margin: 10px;
  }

  .gallery-item img {
    max-width: 100%;
    height: auto;
  }








